$font-path: '../fonts/' !default;

@font-face {
	font-family: "miekons";
	src: url('#{$font-path}miekons.eot');
	src: url('#{$font-path}miekons.eot?#iefix') format('eot'),
	url('#{$font-path}miekons.woff') format('woff'),
	url('#{$font-path}miekons.ttf') format('truetype'),
	url('#{$font-path}miekons.svg#miekons') format('svg');
}

@mixin miekons-styles {
	font-family: "miekons";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%miekons {
	@include miekons-styles;
}

@function miekons-char($filename) {
	$char: "";

	@if $filename == "space" {
	$char: "\20";
}
	@if $filename == "add-folder" {
	$char: "\EA01";
}
	@if $filename == "add-remove" {
	$char: "\EA02";
}
	@if $filename == "add-selection" {
	$char: "\EA03";
}
	@if $filename == "add-solid" {
	$char: "\EA04";
}
	@if $filename == "add" {
	$char: "\EA05";
}
	@if $filename == "bolt" {
	$char: "\EA06";
}
	@if $filename == "cat-community" {
	$char: "\EA07";
}
	@if $filename == "cat-default" {
	$char: "\EA08";
}
	@if $filename == "cat-education" {
	$char: "\EA09";
}
	@if $filename == "cat-housing" {
	$char: "\EA0A";
}
	@if $filename == "cat-large-area-forecasts" {
	$char: "\EA0B";
}
	@if $filename == "cat-population-forecasts" {
	$char: "\EA0C";
}
	@if $filename == "cat-transport-comms" {
	$char: "\EA0D";
}
	@if $filename == "cat-work-income" {
	$char: "\EA0E";
}
	@if $filename == "catpop" {
	$char: "\EA0F";
}
	@if $filename == "checkbox-checked" {
	$char: "\EA10";
}
	@if $filename == "checkbox" {
	$char: "\EA11";
}
	@if $filename == "chevron-down" {
	$char: "\EA12";
}
	@if $filename == "chevron-left" {
	$char: "\EA13";
}
	@if $filename == "chevron-right" {
	$char: "\EA14";
}
	@if $filename == "chevron-up" {
	$char: "\EA15";
}
	@if $filename == "clear" {
	$char: "\EA16";
}
	@if $filename == "close" {
	$char: "\EA17";
}
	@if $filename == "cross-circle-solid" {
	$char: "\EA18";
}
	@if $filename == "cross" {
	$char: "\EA19";
}
	@if $filename == "down" {
	$char: "\EA1A";
}
	@if $filename == "drag" {
	$char: "\EA1B";
}
	@if $filename == "edit" {
	$char: "\EA1C";
}
	@if $filename == "filter-remove" {
	$char: "\EA1D";
}
	@if $filename == "filter" {
	$char: "\EA1E";
}
	@if $filename == "folder" {
	$char: "\EA1F";
}
	@if $filename == "hamburger" {
	$char: "\EA20";
}
	@if $filename == "hidden" {
	$char: "\EA21";
}
	@if $filename == "histogram" {
	$char: "\EA22";
}
	@if $filename == "info" {
	$char: "\EA23";
}
	@if $filename == "layers" {
	$char: "\EA24";
}
	@if $filename == "left" {
	$char: "\EA25";
}
	@if $filename == "locate" {
	$char: "\EA26";
}
	@if $filename == "locked" {
	$char: "\EA27";
}
	@if $filename == "minus-solid" {
	$char: "\EA28";
}
	@if $filename == "minus" {
	$char: "\EA29";
}
	@if $filename == "options" {
	$char: "\EA2A";
}
	@if $filename == "pin" {
	$char: "\EA2B";
}
	@if $filename == "plus" {
	$char: "\EA2C";
}
	@if $filename == "remove" {
	$char: "\EA2D";
}
	@if $filename == "report" {
	$char: "\EA2E";
}
	@if $filename == "right" {
	$char: "\EA2F";
}
	@if $filename == "saved-view" {
	$char: "\EA30";
}
	@if $filename == "search" {
	$char: "\EA31";
}
	@if $filename == "share" {
	$char: "\EA32";
}
	@if $filename == "star" {
	$char: "\EA33";
}
	@if $filename == "table" {
	$char: "\EA34";
}
	@if $filename == "tick" {
	$char: "\EA35";
}
	@if $filename == "trash" {
	$char: "\EA36";
}
	@if $filename == "un-pin" {
	$char: "\EA37";
}
	@if $filename == "unlocked" {
	$char: "\EA38";
}
	@if $filename == "up" {
	$char: "\EA39";
}
	@if $filename == "visible" {
	$char: "\EA3A";
}

@return $char;
}

@mixin miekons($filename, $insert: before, $extend: true) {
&:#{$insert} {
	@if $extend {
		@extend %miekons;
	} @else {
		@include miekons-styles;
	}
	content: miekons-char($filename);
}
}

.miekons-space {
	@include miekons(space);
}
.miekons-add-folder {
	@include miekons(add-folder);
}
.miekons-add-remove {
	@include miekons(add-remove);
}
.miekons-add-selection {
	@include miekons(add-selection);
}
.miekons-add-solid {
	@include miekons(add-solid);
}
.miekons-add {
	@include miekons(add);
}
.miekons-bolt {
	@include miekons(bolt);
}
.miekons-cat-community {
	@include miekons(cat-community);
}
.miekons-cat-default {
	@include miekons(cat-default);
}
.miekons-cat-education {
	@include miekons(cat-education);
}
.miekons-cat-housing {
	@include miekons(cat-housing);
}
.miekons-cat-large-area-forecasts {
	@include miekons(cat-large-area-forecasts);
}
.miekons-cat-population-forecasts {
	@include miekons(cat-population-forecasts);
}
.miekons-cat-transport-comms {
	@include miekons(cat-transport-comms);
}
.miekons-cat-work-income {
	@include miekons(cat-work-income);
}
.miekons-catpop {
	@include miekons(catpop);
}
.miekons-checkbox-checked {
	@include miekons(checkbox-checked);
}
.miekons-checkbox {
	@include miekons(checkbox);
}
.miekons-chevron-down {
	@include miekons(chevron-down);
}
.miekons-chevron-left {
	@include miekons(chevron-left);
}
.miekons-chevron-right {
	@include miekons(chevron-right);
}
.miekons-chevron-up {
	@include miekons(chevron-up);
}
.miekons-clear {
	@include miekons(clear);
}
.miekons-close {
	@include miekons(close);
}
.miekons-cross-circle-solid {
	@include miekons(cross-circle-solid);
}
.miekons-cross {
	@include miekons(cross);
}
.miekons-down {
	@include miekons(down);
}
.miekons-drag {
	@include miekons(drag);
}
.miekons-edit {
	@include miekons(edit);
}
.miekons-filter-remove {
	@include miekons(filter-remove);
}
.miekons-filter {
	@include miekons(filter);
}
.miekons-folder {
	@include miekons(folder);
}
.miekons-hamburger {
	@include miekons(hamburger);
}
.miekons-hidden {
	@include miekons(hidden);
}
.miekons-histogram {
	@include miekons(histogram);
}
.miekons-info {
	@include miekons(info);
}
.miekons-layers {
	@include miekons(layers);
}
.miekons-left {
	@include miekons(left);
}
.miekons-locate {
	@include miekons(locate);
}
.miekons-locked {
	@include miekons(locked);
}
.miekons-minus-solid {
	@include miekons(minus-solid);
}
.miekons-minus {
	@include miekons(minus);
}
.miekons-options {
	@include miekons(options);
}
.miekons-pin {
	@include miekons(pin);
}
.miekons-plus {
	@include miekons(plus);
}
.miekons-remove {
	@include miekons(remove);
}
.miekons-report {
	@include miekons(report);
}
.miekons-right {
	@include miekons(right);
}
.miekons-saved-view {
	@include miekons(saved-view);
}
.miekons-search {
	@include miekons(search);
}
.miekons-share {
	@include miekons(share);
}
.miekons-star {
	@include miekons(star);
}
.miekons-table {
	@include miekons(table);
}
.miekons-tick {
	@include miekons(tick);
}
.miekons-trash {
	@include miekons(trash);
}
.miekons-un-pin {
	@include miekons(un-pin);
}
.miekons-unlocked {
	@include miekons(unlocked);
}
.miekons-up {
	@include miekons(up);
}
.miekons-visible {
	@include miekons(visible);
}