@charset "UTF-8";
@font-face {
  font-family: "miekons";
  src: url("../fonts/miekons.eot");
  src: url("../fonts/miekons.eot?#iefix") format("eot"), url("../fonts/miekons.woff") format("woff"), url("../fonts/miekons.ttf") format("truetype"), url("../fonts/miekons.svg#miekons") format("svg"); }

.miekons-space:before, .miekons-add-folder:before, .miekons-add-remove:before, .miekons-add-selection:before, .miekons-add-solid:before, .miekons-add:before, .miekons-bolt:before, .miekons-cat-community:before, .miekons-cat-default:before, .miekons-cat-education:before, .miekons-cat-housing:before, .miekons-cat-large-area-forecasts:before, .miekons-cat-population-forecasts:before, .miekons-cat-transport-comms:before, .miekons-cat-work-income:before, .miekons-catpop:before, .miekons-checkbox-checked:before, .miekons-checkbox:before, .miekons-chevron-down:before, .miekons-chevron-left:before, .miekons-chevron-right:before, .miekons-chevron-up:before, .miekons-clear:before, .miekons-close:before, .miekons-cross-circle-solid:before, .miekons-cross:before, .miekons-down:before, .miekons-drag:before, .miekons-edit:before, .miekons-filter-remove:before, .miekons-filter:before, .miekons-folder:before, .miekons-hamburger:before, .miekons-hidden:before, .miekons-histogram:before, .miekons-info:before, .miekons-layers:before, .miekons-left:before, .miekons-locate:before, .miekons-locked:before, .miekons-minus-solid:before, .miekons-minus:before, .miekons-options:before, .miekons-pin:before, .miekons-plus:before, .miekons-remove:before, .miekons-report:before, .miekons-right:before, .miekons-saved-view:before, .miekons-search:before, .miekons-share:before, .miekons-star:before, .miekons-table:before, .miekons-tick:before, .miekons-trash:before, .miekons-un-pin:before, .miekons-unlocked:before, .miekons-up:before, .miekons-visible:before {
  font-family: "miekons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none; }

.miekons-space:before {
  content: " "; }

.miekons-add-folder:before {
  content: ""; }

.miekons-add-remove:before {
  content: ""; }

.miekons-add-selection:before {
  content: ""; }

.miekons-add-solid:before {
  content: ""; }

.miekons-add:before {
  content: ""; }

.miekons-bolt:before {
  content: ""; }

.miekons-cat-community:before {
  content: ""; }

.miekons-cat-default:before {
  content: ""; }

.miekons-cat-education:before {
  content: ""; }

.miekons-cat-housing:before {
  content: ""; }

.miekons-cat-large-area-forecasts:before {
  content: ""; }

.miekons-cat-population-forecasts:before {
  content: ""; }

.miekons-cat-transport-comms:before {
  content: ""; }

.miekons-cat-work-income:before {
  content: ""; }

.miekons-catpop:before {
  content: ""; }

.miekons-checkbox-checked:before {
  content: ""; }

.miekons-checkbox:before {
  content: ""; }

.miekons-chevron-down:before {
  content: ""; }

.miekons-chevron-left:before {
  content: ""; }

.miekons-chevron-right:before {
  content: ""; }

.miekons-chevron-up:before {
  content: ""; }

.miekons-clear:before {
  content: ""; }

.miekons-close:before {
  content: ""; }

.miekons-cross-circle-solid:before {
  content: ""; }

.miekons-cross:before {
  content: ""; }

.miekons-down:before {
  content: ""; }

.miekons-drag:before {
  content: ""; }

.miekons-edit:before {
  content: ""; }

.miekons-filter-remove:before {
  content: ""; }

.miekons-filter:before {
  content: ""; }

.miekons-folder:before {
  content: ""; }

.miekons-hamburger:before {
  content: ""; }

.miekons-hidden:before {
  content: ""; }

.miekons-histogram:before {
  content: ""; }

.miekons-info:before {
  content: ""; }

.miekons-layers:before {
  content: ""; }

.miekons-left:before {
  content: ""; }

.miekons-locate:before {
  content: ""; }

.miekons-locked:before {
  content: ""; }

.miekons-minus-solid:before {
  content: ""; }

.miekons-minus:before {
  content: ""; }

.miekons-options:before {
  content: ""; }

.miekons-pin:before {
  content: ""; }

.miekons-plus:before {
  content: ""; }

.miekons-remove:before {
  content: ""; }

.miekons-report:before {
  content: ""; }

.miekons-right:before {
  content: ""; }

.miekons-saved-view:before {
  content: ""; }

.miekons-search:before {
  content: ""; }

.miekons-share:before {
  content: ""; }

.miekons-star:before {
  content: ""; }

.miekons-table:before {
  content: ""; }

.miekons-tick:before {
  content: ""; }

.miekons-trash:before {
  content: ""; }

.miekons-un-pin:before {
  content: ""; }

.miekons-unlocked:before {
  content: ""; }

.miekons-up:before {
  content: ""; }

.miekons-visible:before {
  content: ""; }
